ID: sam31
TITLE: "sam31"
HF_TOKEN: 
KAGGLE_API_TOKEN: 
SOURCE_BUCKET: hamimmahmud0/annotate
DEST_BUCKET: SAM_COCO_v1_b1
CONFIDENCE: 0.25
BATCH_SIZE: 4
BOT_TOKEN: "8969594822:AAHjfhtGJBwikq7-V_ngskQn02kE_aCQv-Y"
CHAT_ID: "5962517274"


PROMPTS:
  - Pedestrian
  - Vehicle
  - Car
  - Bus
  - Truck
  - Motorcycle
  - Bicycle
  - Rickshaw

